// Footer
#main-footer
      font-size: 10px
      background-color: $main-color
      color: #fff
      padding: 4% 0
      position: relative

      #main-footer-top
            display: flex
            align-items: center
            margin:
                  top: 20px
                  bottom: 20px

            #main-footer-social
                  display: flex
                  align-items: center

                  .cs-follow
                        font-weight: 700

                  .cs-follow-icon
                        font-size: 32px
                        margin-left: 30px
                        color: $alt-color-b

            #main-footer-menu
                  text-align: right

                  .cs-menu-item
                        margin-left: 30px

      #main-footer-content
            text-align: center

      #main-footer-bottom
            color: $alt-color-b
            text-align: center
            margin:
                  top: 20px
                  bottom: 20px
