// Header
#main-header
      background-color: $main-color
      color: $alt-color-b
      height: 63px
      width: 100%
      *
            height: inherit

      #main-nav
            display: flex
            justify-content: flex-end

            .cs-menu

                  .cs-menu-item
                        display: inline-block
                        font:
                              size: 14px
                              weight: 700
                        text-transform: uppercase
                        text-shadow: $text-shadow
                        &:not(:last-child)
                              margin-left: 78px

                        a
                              display: flex
                              align-items: center
