#cs-home-intro-text-container
      display: flex
      align-items: flex-end


#home-steps
      .cs-home-step
            display: flex
            justify-content: center

#home-login
      #home-login-img
            position: relative

            img
                  position: absolute
                  top: 0
                  left: 0
